<div class="contents">
<h2>新規登録</h2> 
  <div class='user-form'>
    <%= form_with model: @user, url: registration_path(resource_name), local: true do |f|%>
     <%= render 'shared/error_messages', model: f.object %>

    <div class='field'>
      <div class='field-label'>
        <%= f.label :ニックネーム, for: 'nicknameRegister' %>
      </div>
      <div class='field-input'>
        <%= f.text_field :nickname, id: 'nicknameRegister' %>
      </div>
    </div>
    <div class='field'>
      <div class='field-label'>
        <%= f.label :メールアドレス, for: 'emailRegister' %>
      </div>
      <div class='field-input'>
        <%= f.email_field :email, id: 'emailRegister' %>
      </div>
    </div>
    <div class='field'>
      <div class='field-label'>
        <%= f.label :パスワード, for: "passRegister" %>
        <span id="togglePasswordRegister" class="eye-icon">😎</span>
      </div>
      <div class='field-input'>
        <%= f.password_field :password, autocomplete: "off", id:"passRegister", placeholder: "6文字以上の半角英数字" %>
      </div>
    </div>
    <div class='field'>
      <div class='field-label'>
        <%= f.label :パスワード（確認用）, for: "passConfirmationRegister" %>
        <span id="togglePasswordConfirmationRegister" class="eye-icon">😎</span>
      </div>
      <div class='field-input'>
        <%= f.password_field :password_confirmation, autocomplete: "off", id:"passConfirmationRegister", placeholder: "もう一度入力して下さい" %>
      </div>
    </div>
    <div class='actions'>
      <%= f.submit "登録", class: 'btn'%>
    </div>
    <% end %> 
  </div>
 </div>
</div>