<div class="contents">
  <h2>ログイン</h2>
  <div class="shared_links">
  <%= render "devise/shared/links"%>
  </div>

  <div class='user-form'>
    <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class='field'>
      <div class='field-label'>
        <%= f.label :メールアドレス%>
      </div>
      <div class='field-input'>
        <%= f.email_field :email%>
      </div>
    </div>
    <div class='field'>
      <div class='field-label'>
        <%= f.label :パスワード（英数字6文字以上）%>
      </div>
      <div class='field-input'>
        <%= f.password_field :password, autocomplete: "off"%>
      </div>
    </div>
    <div class='actions'>
      <%= f.submit "ログイン", class: 'btn'%>
    </div>
    <% end %> 
  </div>
</div>