<div class="contents">
  <h2>ログイン</h2>
  <div class="shared_links">
    <%= render "devise/shared/links"%>
  </div>

  <div class='user-form'>
    <%= form_with model: @user, url: session_path(resource_name), local: true do |f|%>

    <% if flash[:alert].present? %>
      <div class='login-flash-message error'>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div class='field'>
      <div class='field-label'>
        <%= f.label :メールアドレス, for: 'emailLogin' %>
      </div>
      <div class='field-input'>
        <%= f.email_field :email, id: 'emailLogin' %>
      </div>
    </div>
    <div class='field'>
      <div class='field-label'>
        <%= f.label :パスワード, for: 'passLogin' %>
        <span id="togglePasswordLogin" class="eye-icon">👁</span>
      </div>
      <div class='field-input'>
        <%= f.password_field :password, autocomplete: "off", id:"passLogin", placeholder: "6文字以上の半角英数字" %>
      </div>
    </div>
    <div class='actions'>
      <%= f.submit "ログイン", class: 'btn'%>
    </div>
    <% end %> 
  </div>
</div>