<div class="contents">
  <h2>ãƒ­ã‚°ã‚¤ãƒ³</h2>
  <div class="shared_links">
  <%= render "devise/shared/links"%>
  </div>

  <div class='user-form'>
    <%= form_with model: @user, url: session_path(resource_name), local: true do |f|%>

    <div class='field'>
      <div class='field-label'>
        <%= f.label :ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹, for: 'emailLogin' %>
      </div>
      <div class='field-input'>
        <%= f.email_field :email, id: 'emailLogin' %>
      </div>
    </div>
    <div class='field'>
      <div class='field-label'>
        <%= f.label :ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰, for: 'passLogin' %>
        <span id="togglePasswordLogin" class="eye-icon">ðŸ˜Ž</span>
      </div>
      <div class='field-input'>
        <%= f.password_field :password, autocomplete: "off", id:"passLogin", placeholder: "6æ–‡å­—ä»¥ä¸Šã®åŠè§’è‹±æ•°å­—" %>
      </div>
    </div>
    <div class='actions'>
      <%= f.submit "ãƒ­ã‚°ã‚¤ãƒ³", class: 'btn'%>
    </div>
    <% end %> 
  </div>
</div>