<div class="main">
  
 <% if user_signed_in? %>
  <div class="search-form">
    <h2>アイテム検索</h2>
      <%= form_with url: search_items_path, method: :get, local: true do |f| %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :名前 %>
          </div>
          <div class='field-input'>
            <%= f.text_field :name, placeholder: "アイテム名" %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :カテゴリー %>
          </div>
          <div class='field-input'>
            <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "選択してください" }, { class: "select-box" } %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :quantity_id, "数量" %>
          </div>
          <div class='field-input'>
            <%= f.collection_select :quantity_id, Quantity.all, :id, :name, { prompt: "選択してください" }, { class: "select-box" } %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :カラー %>
          </div>
          <div class='field-input'>
            <%= f.collection_radio_buttons :color_id, Color.all, :id, :name do |b| %>
              <div class="radio-item color-<%= b.object.id %>">
                <%= b.radio_button %>
                <%= b.label %>
              </div>
            <% end %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :備考欄 %>
          </div>
          <div class='field-input'>
            <%= f.text_area :notes, placeholder: "補足説明" %>
          </div>
        </div>

        <div class='actions'>
          <%= f.submit "検索", class: 'btn' %>
        </div>
      <% end %>
  </div>
 <% end %>

<%= link_to(new_item_path, class: 'create_btn') do %>
  <span class='create_btn_text'>アイテム登録</span>
<% end %>

</div>